<!-- <input type="text" [(ngModel)]='c'>
<button appChangecolor [color]='c'>Attribute</button> -->
<!-- <h2>Attribute Directive demo</h2>
<div class="row size">
  <div class="col-md-6">
    <input type="text" [(ngModel)] ='c' />
  </div>
  <div class="col-md-6">
    <div appChangecolor [color] ='c'>
      Hello World
    </div>
  </div>
</div> -->
<div class="container size">
  <div class="row">
    <h1 class="mx-auto my-4">Attribute Directive demo</h1>
  </div>
  <hr>
  <div class="row my-5">
    <div class="col-md-6" >
      <input type="text" [(ngModel)] ='c' class="colorInput"/>
    </div>
    <div class="col-md-6">
      <div appChangecolor [color] ='c'>
        Hello World
      </div>
    </div>
  </div>
</div>
