
<div class="container my-2">
  <br>
  <div class="col-md-8 my-2" >

      <form (ngSubmit)='updateProduct()' [formGroup]='productform' novalidate class="form">
          <input formControlName='Id' class="form-control form-control-lg" type="text">
          <input formControlName='Title' class="form-control form-control-lg" type="text">
          <input formControlName='Price' class="form-control form-control-lg" type="number"  required="true"  >
         <div class="alert alert-danger" *ngIf="productform?.get('Price')?.dirty && productform?.get('Price')?.errors && productform?.get('Price')?.errors?.priceRange">
          Price should be greater than {{min}} and less than {{max}}
         </div>
          
          <input formControlName='Quantity' class="form-control form-control-lg" type="text">
          <input formControlName='ExpiryDate' class="form-control form-control-lg" type="text">
          <!-- <input formControlName='inStock' class="form-control form-control-lg" type="text" > -->


          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" [value]="true" formControlName='isInStock'>
            <label class="form-check-label">In Stock</label>

        </div>

        <div class="form-check form-check-inline my-3">
            <input class="form-check-input" type="radio" [value]="false" formControlName='isInStock'>
            <label class="form-check-label">Out of Stock</label>
        </div>

          <button type= "submit" [disabled]='productform.invalid' class="btn btn-primary mb-2">Update Product</button>
      
      </form>
  </div>
    <app-child2></app-child2>
    </div>
      <footer class="page-footer font-small blue fixed-bottom">
      <div class="footer-copyright text-center py-3" style="color: grey;">
            <h5>Explanation :</h5>
            <p>This is an example of reactive programming where we are using a service whth an object of behaviour subject type which itself tell about any change in its state
              here were have a property of type Iproduct and we are updating its price by calli8ng the function in a component and displaying the complete Iproduct data in another component.
            </p>
      </div>
      </footer>

