<br>

<div class="container mt-5 ">
    <h1 class="text-center display-1 font-weight-bold p-3 fontSize"> Welcome to the Angular Project Demo</h1>
<div class="jumbotron maincontainer">
 
    
<div class="row">
    <div class="col-md-7">
        
<h2>1.Data-Binding</h2>
<h2>2.Structural Directive Demo</h2>
<h2>3.Products</h2>
<h2>4.MasterDetails</h2>
<h2>5.Share Data</h2>
<h2>6.ErrorHandler</h2>
    </div>
    <div class="col-md-5">

        <img src="../assets/a.png" class="img-fluid my-5 rounded-pill"  alt="Responsive image">
    </div>
</div>    


</div>
</div>



