 <br>
 <br>
 <!-- <div class="container">   
    <button class="btn btn-danger " (click) ='GenerateError()'>Generate Error</button>

</div> -->
<br>
<div class="container">
        <div class="row">
            <button class="form-control btn btn-outline-danger" (click) = "GenerateError()">Generate Error</button> 
        </div>
        <br>
 <div class="row">
    <div class="col-md-6">
      <img src="../assets/img1.png" alt="Code-Snippet" height="100%" width="100%" class="img img-responsive">
    </div>
    <div class="col-md-6">
      <img src="../assets/img4.png" alt="Console" height="100%" width="100%" class="img img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-5 mx-auto" style="object-position: center;">
      <img src="../assets/img3.png" height="100%" width="100%" alt="Appmodule" class="img img-responsive mx-auto">
    </div>
  </div>
  <div style="height: 150px;"></div>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3" style="color: grey;">
            <h5>Explanation :</h5>
            This is a simple example depicting the use of errorhandler service,
By using this we can manipulate the error logs according to our business requirements


        </div>
    </footer>
</div>